## Section 1 - Imports

In [2]:
import pandas as pd # For Data Manipulation of Numerical Yables and Time Series 
import numpy as np # For Mathematical operations on arrays
import sklearn
import warnings
import matplotlib as plt
from IPython.display import display
from sklearn.model_selection import train_test_split, GroupKFold, KFold # Split arrays or matrices into random train and test subsets, K-fold iterator variant with non-overlapping groups, K-fold iterator variant with non-overlapping groups.
from sklearn.metrics import mean_absolute_error # Mean absolute error regression loss.
import tensorflow as tf
from tensorflow import keras
from sklearn.preprocessing import normalize, PowerTransformer # Scale input vectors individually to unit norm (vector length).
#Potential ADDONS 
import lightgbm as lgb # For Distributed gradient boosting framework (XDBoost possible alternative)

## Section 2 - Data loading

In [3]:
train = pd.read_csv('train.csv') # Read a comma-separated values (csv) file into Train DataFrame
test = pd.read_csv('test.csv') # Read a comma-separated values (csv) file into Test DataFrame
submission = pd.read_csv('sample_submission.csv') # Read a comma-separated values (csv) file into Prediction DataFrame

In [4]:
display(train)
display(test)
display(submission)

              id  breath_id   R   C  time_step       u_in  u_out   pressure
0              1          1  20  50   0.000000   0.083334      0   5.837492
1              2          1  20  50   0.033652  18.383041      0   5.907794
2              3          1  20  50   0.067514  22.509278      0   7.876254
3              4          1  20  50   0.101542  22.808822      0  11.742872
4              5          1  20  50   0.135756  25.355850      0  12.234987
...          ...        ...  ..  ..        ...        ...    ...        ...
6035995  6035996     125749  50  10   2.504603   1.489714      1   3.869032
6035996  6035997     125749  50  10   2.537961   1.488497      1   3.869032
6035997  6035998     125749  50  10   2.571408   1.558978      1   3.798729
6035998  6035999     125749  50  10   2.604744   1.272663      1   4.079938
6035999  6036000     125749  50  10   2.638017   1.482739      1   3.869032

[6036000 rows x 8 columns]

              id  breath_id   R   C  time_step       u_in  u_out
0              1          0   5  20   0.000000   0.000000      0
1              2          0   5  20   0.031904   7.515046      0
2              3          0   5  20   0.063827  14.651675      0
3              4          0   5  20   0.095751  21.230610      0
4              5          0   5  20   0.127644  26.320956      0
...          ...        ...  ..  ..        ...        ...    ...
4023995  4023996     125748  20  10   2.530117   4.971245      1
4023996  4023997     125748  20  10   2.563853   4.975709      1
4023997  4023998     125748  20  10   2.597475   4.979468      1
4023998  4023999     125748  20  10   2.631134   4.982648      1
4023999  4024000     125748  20  10   2.665301   4.985373      1

[4024000 rows x 7 columns]

              id  pressure
0              1         0
1              2         0
2              3         0
3              4         0
4              5         0
...          ...       ...
4023995  4023996         0
4023996  4023997         0
4023997  4023998         0
4023998  4023999         0
4023999  4024000         0

[4024000 rows x 2 columns]

## Train Data

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6036000 entries, 0 to 6035999
Data columns (total 8 columns):
 #   Column     Dtype
---  ------     -----
 0   id         int64
 1   breath_id  int64
 2   R          int64
 3   C          int64
 4   time_step  float64
 5   u_in       float64
 6   u_out      int64
 7   pressure   float64
dtypes: float64(3), int64(5)
memory usage: 368.4 MB

In [6]:
train.describe()

,id,breath_id,R,C,time_step,u_in,u_out,pressure
count,6.036000e+06,6.036000e+06,6.036000e+06,6.036000e+06,6.036000e+06,6.036000e+06,6.036000e+06,6.036000e+06
mean,3.018000e+06,6.283886e+04,2.703618e+01,2.608072e+01,1.307225e+00,7.321615e+00,6.204493e-01,1.122041e+01
std,1.742443e+06,3.633526e+04,1.959549e+01,1.715231e+01,7.659778e-01,1.343470e+01,4.852752e-01,8.109703e+00
min,1.000000e+00,1.000000e+00,5.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,-1.895744e+00
25%,1.509001e+06,3.137700e+04,5.000000e+00,1.000000e+01,6.428995e-01,3.936623e-01,0.000000e+00,6.329607e+00
50%,3.018000e+06,6.276550e+04,2.000000e+01,2.000000e+01,1.308123e+00,4.386146e+00,1.000000e+00,7.032628e+00
75%,4.527000e+06,9.430100e+04,5.000000e+01,5.000000e+01,1.965502e+00,4.983895e+00,1.000000e+00,1.364103e+01
max,6.036000e+06,1.257490e+05,5.000000e+01,5.000000e+01,2.937238e+00,1.000000e+02,1.000000e+00,6.482099e+01

In [11]:
train.nunique().to_frame()

                 0
id         6036000
breath_id    75450
R                3
C                3
time_step  3767571
u_in       4020300
u_out            2
pressure       950

In [13]:
train.R.value_counts().to_frame()

          R
50  2410080
5   1988800
20  1637120

## Test Data

In [7]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4024000 entries, 0 to 4023999
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   id         int64
 1   breath_id  int64
 2   R          int64
 3   C          int64
 4   time_step  float64
 5   u_in       float64
 6   u_out      int64
dtypes: float64(2), int64(5)
memory usage: 214.9 MB

In [8]:
test.describe()

,id,breath_id,R,C,time_step,u_in,u_out
count,4.024000e+06,4.024000e+06,4.024000e+06,4.024000e+06,4.024000e+06,4.024000e+06,4.024000e+06
mean,2.012000e+06,6.292796e+04,2.710785e+01,2.607038e+01,1.307083e+00,7.338098e+00,6.203864e-01
std,1.161629e+06,3.624924e+04,1.954281e+01,1.717103e+01,7.658902e-01,1.350955e+01,4.852908e-01
min,1.000000e+00,0.000000e+00,5.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.006001e+06,3.153050e+04,5.000000e+00,1.000000e+01,6.428454e-01,4.096735e-01,0.000000e+00
50%,2.012000e+06,6.305750e+04,2.000000e+01,2.000000e+01,1.308083e+00,4.377512e+00,1.000000e+00
75%,3.018000e+06,9.433325e+04,5.000000e+01,5.000000e+01,1.965240e+00,4.983472e+00,1.000000e+00
max,4.024000e+06,1.257480e+05,5.000000e+01,5.000000e+01,2.935203e+00,1.000000e+02,1.000000e+00

In [12]:
test.nunique().to_frame()

                 0
id         4024000
breath_id    50300
R                3
C                3
time_step  2855528
u_in       2787822
u_out            2

In [14]:
test.C.value_counts().to_frame()

          C
10  1504800
50  1315840
20  1203360

## Submission Data

In [9]:
submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4024000 entries, 0 to 4023999
Data columns (total 2 columns):
 #   Column    Dtype
---  ------    -----
 0   id        int64
 1   pressure  int64
dtypes: int64(2)
memory usage: 61.4 MB

In [10]:
submission.describe()

                 id   pressure
count  4.024000e+06  4024000.0
mean   2.012000e+06        0.0
std    1.161629e+06        0.0
min    1.000000e+00        0.0
25%    1.006001e+06        0.0
50%    2.012000e+06        0.0
75%    3.018000e+06        0.0
max    4.024000e+06        0.0